<!DOCTYPE html>

<html lang="ru">
	<head>
		<title>Тестовое задание</title>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="ajax.js"></script>
		<link rel="stylesheet" href="style.css">
	</head>

	<body>
	<h1>Тестовое задание в К Телеком</h1>
	<div class="container">
 		<div class="row">
 		<div class="col-md-offset-3 col-md-6">
 		<div class="tab" role="tabpanel">
 		<div class="tab-content tabs">
 		<div role="tabpanel" class="tab-pane fade in active" id="Section1">

 		<form class="form-horizontal" id="form_action" method="post" action="">

 		
        <div class="form-group">
        <label for="exampleFormControlTextarea1" class="form-label">Серийный номер</label>
        <input class="form-control" id="input_serial" type="text" placeholder="NXXAAXZXaa" aria-label="">
        </div>


		<div class="form-group">
     	<label for="exampleInputEmail1" class="form-label">Тип оборудования</label>
      	<select id="select_equipment" class="form-select">
      	</select>
    	</div>


 		<div class="form-group">
		<button type="submit" id="submit_add" class="btn btn-default">Добавить</button>
 		</div> 

 		<div class="form-group">
        <label for="exampleFormControlTextarea1" class="form-label">Результат</label>
        <input class="form-control" id="output_result" type="text" placeholder="???" aria-label="">
        </div> 

 		</div>
 		</div>
 		</div>
		</div>
		</div>
		</div>
	</body>
</html>